{% extends "base.html" %}
{% block main %}
    <div class="container-lg mt-3">
        <h1>Сайты</h1>
        <div class="table-responsive">
            <table class="table table-bordered table-hover text-nowrap" data-test="urls">
                <tbody>
                    <tr>
                        <th>ID</th>
                        <th>Имя</th>
                        <th>Последняя проверка</th>
                        <th>Код ответа</th>
                    </tr>
                    {% for site in table %}
                    <tr>

                        <td>{{ site.url_id }}</td>
                        <td><a href="/urls/{{ site.url_id }}">{{ site.url_name }}</a></td>
                        {% if site.get('sc') %}
                            <td>{{ site.created_at }}</td>
                            <td>{{ site.sc }}</td>
                        {% endif %}
                        {% if not site.get('sc') %}
                            <td></td>
                            <td></td>
                        {% endif %}

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}